{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "MAC-wedding"}}
{{setDescription "The wedding details."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<div id="map" data-map="mmacleod.nm6dohm7"></div>
<div class="l-wrap">
    <a class="scroll-for-more-info" href="#bottom">Scroll for more information</a><span class="chevron"></span>
    <h1>
        Wedding, April 30, 2016
    </h1>
    <ol class="cal l-contain l-grid">
        {{#day "Wednesday 27 April"}}
                {{addDayEvent "publicholiday"
                desc  = "Freedom Day"}}
            {{> day/header}}
            {{> day/events}}
        {{/day}}
        {{#day "Thursday 28 April"}}
            {{> day/header}}
            {{> day/events}}
            Two days before.
        {{/day}}
        {{#day "Friday 29 April"}}
            {{> day/header}}
            {{> day/events}}
            The day before.
        {{/day}}
        {{#day "Saturday 30 April" primary=true}}
            {{addDayEvent "ceremony"
                start = "10:00am"
                desc  = "Wedding Ceremony"}}
            {{addDayEvent "reception"
                start = "1pm"
                end   = "12pm"
                desc  = "Wedding Reception"}}
            {{> day/header}}
            {{> day/events}}
        {{/day}}
        {{#day "Sunday 1 May"}}
                {{addDayEvent "publicholiday"
                desc  = "Worker's Day"}}
            {{> day/header}}
            {{> day/events}}
        {{/day}}
        {{#day "Monday 2 May"}}
                {{addDayEvent "publicholiday"
                desc  = "Worker's Day Observed"}}
            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="details l-contain">
	<h2 id="publicholiday" class="anchored-header">
            Public Holidays
        </h2>
	We realise that a lot of people will need to travel for the event, and may want to try and 'make a holiday of it' to get their money's worth from the travel expenses, so we have done our best to pick a date that makes this possible.<br/> The Wednesday before the event (27th April 2016) is a public holiday Freedom Day and the Monday after (2nd May 2016) will also be a public holiday due to Worker's Day (1st May) falling on a Sunday the day before<br/> If you plan to come out a bit before the wedding or stay after the wedding, let us know and we can try to meet up and do something!
    
        <h2 id="ceremony" class="anchored-header">
            Ceremony
        </h2>
	<p>
		The wedding ceremony will begin, on <b>Saturday at 10:00</b>. The ceremony will be held at the Harold Porter National Botanical Gardens in Betty's Bay.<br/>
		Some light "picnic style" snacks will be available for lunch at the ceremony, please bring a towel or blanket on which to sit.<br/>
		The gardens are child friendly so children are welcome, you may want to arrive slightly early so you can walk around a bit and enjoy the scenery.
	</p>
	<address>
		<a href="https://www.google.com/maps/place/Harold+Porter+National+Botanical+Garden/@-34.3508047,18.9246298,17z/data=!3m1!4b1!4m2!3m1!1s0x1dcdd6eab005543b:0x2f22652e331d15cb">
		<b>Harold Porter National Botanical Gardens</b><br>
		Broadwith Road<br>
		Betty's Bay
		</a>
	</address>
        <h2 id="ceremony" class="anchored-header">
            Reception
        </h2>
	<p>
		The reception will begin, on <b>Saturday at 13:00</b>. The reception will be held at The Barn in Gordon's Bay.<br/>
		A cash bar is available on the premises.<br/>
		Please let us know in advance if you plan to bring children <a href="mailto:wedding@macleod.nom.za">wedding@macleod.nom.za</a> so that we can make arrangements.<br/>
		The dress code for this event is <a href="#" data-tooltip="Festive means that you can have some fun and play up your look with almost anything.&#10;Go towards a cocktail party look and bold colours and take a risk with less traditional styles that you would not dream of wearing to a formal wedding.&#10;Festive is about having a good time and making it fun! Guys can go for a wild shirt or playful tie. Ladies can tuck extravagant flowers or feathers in their hair and wear really bright and flashy dresses.">Festive</a>.
	</p>
	<address>
		<a href="https://www.google.com/maps/place/The+Barn/@-34.1472192,18.8897159,17z/data=!4m6!1m3!3m2!1s0x1dcdcb901e516c23:0xb1c463c59ab6114c!2sJo's+Tours!3m1!1s0x0000000000000000:0x58b1d8f2379a77aa">
		<b>The Barn</b><br>
		Sir Lowry's Pass Road<br>
		Gordon's Bay
		</a>
	</address>
    </div>
    <span id="bottom">&nbsp;</span>
</div>
